<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
	<head>
	 <title > SpringEcon | Buy Vacation Packages </title>
	</head>
	<body>
		<!--Canvas of the whole site-->
		<div id="canvas" class="container"  layout:fragment="content" >
			<!--Image for the banner of the site & site title-->
			<div id="site-banner" class="d-flex justify-content-center align-items-start">
				<!--<h1 class="title"> {Site Title Name} </h1>-->
			</div>
			<!--User's Title'-->
			
			<div class="bottom-section">
			<!--Site Information-->
				<div id="site-info-section" class="row">
					<div class="col">
					   <h3 id="ab-title" class="sub-title mt-3">Buy Vaction Packages in many new locations today!</h3>
					   <div id="desc-left" class="sub-desc">
					   	 <p>
					   	 	Feel free to look around and add a package that you want. 
					   	 </p>
					   </div>
					</div>
					<div class="col">
					   <h3 id="as-title" class="sub-title mt-3">Who made this site you ask? </h3>
					   <div id="desc-right" class="sub-desc">
					   	 <ul class="d-flex justify-content-center align-items-between author-space">
					   	   <li>Joshua Williams</li>
					   	 </ul>
					   	 
					   	 <p> Hello and welcome to my site! I am a young software developer, majoring in Software Development at GCU.</p>
					   </div>
					</div>
				</div>			  
			</div>
		</div>
	</body>
</html>